@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root{
    --main-color: hsla(221, 100%, 5%, 1);
    --second-color: hsla(218, 15%, 25%, 1);
    --orange: hsla(27, 100%, 50%, 1);
    --orange-bg: hsla(27, 100%, 50%, 0.1);
    --bg: hsla(0, 0%, 100%, 1);
}

body{
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg);
    color: var(--second-color);
    font-weight: 500;
    width: 100%;
}

@media (max-width: 500px) {
    body{
        padding: 5vw;
        margin-top: 0.75rem;
        font-size: 2vh;
    }
    .row{
        margin-bottom: 6vh;
    }
    .image{
        height: 40vh;
        margin-bottom: 2vh;
        width: 100%;
    }
    footer{
        font-size: 2vh;
    }
    
}
@media (min-width: 501px) {
    body{
        padding: 10vw;
        margin-top: 0.75rem;
        font-size: 3vh;
    }
    .row{
        margin-bottom: 6vh;
    }
    .image{
        height: 70vh;
        margin-bottom: 2vh;
        width: 100%;
    }
    footer{
        font-size: 2vh;
    }
}

h1, .h1{
    font-size: 1.4rem;
}

.main-color{
    color: var(--main-color);
}

span{
    max-width: 100%;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: var(--second-color);
}

a:hover{
    text-decoration: none;
    color: var(--orange);
}

.link{
    color: hsla(220, 80%, 20%, 1);
    text-decoration: none;
    border-bottom: 2px solid hsla(220, 80%, 20%, 0.2);
    transition: 0.3s;
}
.link:hover{
    color: hsla(220, 80%, 20%, 1);
    text-decoration: none;
    border-bottom: 2px solid hsla(220, 80%, 20%, 1);
    transition: 0.3s;
}

.secondary-link{
    font-size: 12px;
    font-weight: 500;
    color: hsla(218, 15%, 25%, 1)!important;
    border-bottom: 1px solid hsla(218, 15%, 25%, 0.2)!important;
    transition: 0.3s;
}

.secondary-link:hover{
    font-size: 12px;
    font-weight: 500;
    color: hsla(218, 15%, 25%, 1)!important;
    border-bottom: 1px solid hsla(218, 15%, 25%, 1)!important;
    transition: 0.3s;
}
.inner-block{
    margin-bottom: 6vh;
}
.btn{
    background: hsla(221, 100%, 5%, 0.8);
    padding: 8px 16px;
    color: hsla(0, 0%, 100%, 1);
    font-size: inherit;
    font-weight: inherit;
    margin-top: 10px;
    transition: 0.3s;
    border-radius: 8px;
}
.btn:hover{
    background: hsla(221, 100%, 5%, 1);
    color: hsla(0, 0%, 100%, 1);
    transition: 0.3s;
}

.badge{
    font-size: 0.6rem;
    background: var(--orange-bg);
    color: var(--orange);
    padding: 4px 8px;
    border-radius: 8px;
}

/*
img{
    box-shadow: 0 0 8px rgba(0, 8, 25, 0.16);
}
*/